<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>轮播</title>
</head>
<link rel="stylesheet" href="../css/transition.css">
<body>
  <section id="slider">
    <ul class="viewPort">
      <li><img src="../imgs/001.jpg" alt=""></li>
      <li><img src="../imgs/002.jpg" alt=""></li>
      <li><img src="../imgs/003.jpg" alt=""></li>
      <li><img src="../imgs/004.jpg" alt=""></li>
      <li><img src="../imgs/005.jpg" alt=""></li>
    </ul>
    <div id="prve"></div>
    <div id="next"></div>

    <ul class="pointList">
      <li class="pointOn"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>

<script src="../js/transition.js"></script>
</body>
</html>